PORT=3000
APP_NAME=Hybrid Tasks
SESSION_COOKIE=web322Session
SESSION_SECRET=__REPLACE_WITH_LONG_RANDOM_STRING__
SESSION_DURATION_MIN=30
#MongoDB Connection String
MONGO_URI=mongodb+srv://<dbUser>:<dbPass>@<clusterName>.<abc123>.mongodb.net/<dbName>?retryWrites=true&w=majority&appName=<AppName>
# PostgreSQL (Sequelize) Connection String
DATABASE_URL=postgres://<pgUser>:<pgPass>@<host>:5432/<dbName>
PG_SSL=true